/* ************************************************************************* */
/* ------------------------- Importing google fonts ------------------------ */
/* ************************************************************************* */

/* **** Lato Font **** */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/vendor/google-fonts/lato/lato-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/vendor/google-fonts/lato/lato-latin-italic-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/vendor/google-fonts/lato/lato-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/vendor/google-fonts/lato/lato-latin-normal-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Montserrat **** */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-300.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Montserrat **** */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/vendor/google-fonts/Open-sans/Open-sans-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('../fonts/vendor/google-fonts/Open-sans/Open-sans-latin-italic-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Raleway **** */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-300.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Work Sans **** */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-500.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ************************************************************************* */
/* ------------------------- Defining Constants ---------------------------- */
/* ************************************************************************* */

// Theme variables
$primary-color: #000;
$primary-color-transparent: #000;
$darkFont1: #404040;
$darkFont2: #606060;
$subDarkFont1: #6a7173;
$tealColor: #00b5ad;
$footer-font: #E8E8E8;

// Font family
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$WorkSans: 'Work Sans', sans-serif;

/* ************************************************************************* */
/* ---------------------------- Theme Design ------------------------------- */
/* ************************************************************************* */

.admin-sidebar {
  top: 60px !important;
  position: absolute !important;
}
.custom-col-1 {
  width: 10% !important;
}
.custom-col-2 {
  width: 20% !important;
}
.custom-col-6 {
  width: 60% !important;
}
.custom-col-7 {
  width: 70% !important;
}
.custom-col-8 {
  width: 80% !important;
}
.login {
  background: transparent !important;
  color:#9aa2bf !important;
  padding: 25px 12px 22px 12px !important;
  line-height: normal !important;
  font-family: "Gotham Bold" !important;
  font-weight: bold !important;
  font-size: 16px !important;
  
}
.register {
  line-height: normal !important;
  background: linear-gradient(to bottom, #7d3ef5 0%, #7126fe 100%) !important;
  color: #fff !important;
  font-family: "Gotham Bold" !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.nav-color {
  color:#9aa2bf !important;
  margin: 0 !important;
  padding: 22px 12px 22px 12px !important;
  border: none !important;
  line-height: normal !important;
  font-family: "Gotham Bold";
  font-weight: bold !important;
  font-size: 18px;
  position: inherit !important;
  &.active {
    background: #060d26 !important;
    border: none !important;
  }
}
.home-page-header {
  background-image: url(/images/home-header-back.png?4b61ec2…);
  min-height: 550px;
  height: auto;
  width: 100%;
  background-size: cover;
}
@media (min-width: 320px) {
  .segment.mobile-navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
    z-index: +1;
    border-bottom: 1px solid rgba(255, 255, 255, .15) !important;
    position: absolute;
    width: 100%;
    .logo img {
      width: 20px !important;
      margin-bottom: -5px !important;
      margin-left: -5px !important;
    }
    .menu {
      background: transparent !important;
      .right.menu > .item:last-child {
        border: 1px solid #fff;
        .menu.transition {
          position: absolute;
          top: 44px;
          width: 100vw;
          right: -135%;
          background-color: rgba(255, 255, 255, .99) !important;
          z-index: 299;
          overflow: visible;
          box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 1);
          text-align: center;
          .ui.divider {
            margin: 0 !important;
          }
          .item {
            color: $darkFont1 !important;
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.1em !important;
            line-height: 2.5em;
            letter-spacing: 0.2em;
          }
          .item.active {
            border-bottom: 4px solid $tealColor;
            border-radius: 0;
          }

        }
      }
    }
  }

  .home-header {
    height: auto;
    background-color: #000;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
    width: 100%;
    top: 0;

    .main-heading {
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 1.8em !important;
      letter-spacing: -1px;
      margin-top: 3.3em !important;
      margin-bottom: 0;
    }

    .sub-heading {
      font-family: $Montserrat;
      font-size: 1.1em !important;
      margin-top: 0.4em !important;
      font-weight: 300;
    }
    .free-signup-button {
      font-family: $Montserrat;
      font-weight: 300;
      font-size: 0.7em !important;
      padding: 1.5em;
      margin-bottom: 2em;
      margin-top: 1em;
      a {
        color: #fff !important
      }
    }

  }

  .course-tour {
    padding: 4em 1em 7em 1em;
    h3.header {
      font-family: $Raleway;
      font-weight: 500;
      color: $darkFont1;
      font-size: 1.8em !important;
    }

    p {
      font-family: $Montserrat;
      color: $subDarkFont1;
      font-weight: 300;
      font-size: 1.2em !important;
    }

  }
  .page-header {
    min-height: 182px !important;
    background-color: #000;
    background-size: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .header {
      font-family: $Raleway;
      font-weight: 600;
      margin-top: 2.6em !important;
      letter-spacing: 0.3em;
      text-transform: uppercase;
    }
  }
  .login-form {
    height: 100%;
    margin-top: 3em !important;
    margin-bottom: 5em !important;
    padding: 1em !important;
    margin-right: 0 !important;
  }
  .form {
    .custom-error {
      font-family: $Montserrat;
      font-weight: 300;
      margin: 1em !important;
      letter-spacing: 0.06em;
      font-size: 0.85em !important;
    }
  }
  .page-loader {
    border: none !important;
    box-shadow: none !important;
    background: rgba(255, 255, 255, 0.9) !important;
    position: absolute !important;
    width: 100%;
    height: 100%;
    .text.loader {
      background: #fff !important;
      /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
      width: 250px !important;
      height: 115px !important;
      border: 1px solid #eee;
      border-radius: 10px;
      line-height: 3em;
    }
    .ui.large.loader:before, .ui.large.loader:after {
      margin: 1em 0em 0em -1.71428571rem !important;
    }
  }
  .footer {
    background: #070a2b !important;
    margin-top: 8px;
    color: #656b88;
    font-size: 16px;
    font-family: "Gotham Book";
    img {
      width: 20px !important;
    }
    .footer-title {
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 18px;
      font-family: "Gotham Bold";
      &.service {
        color: #5a2db6;
      }
      &.platform {
        color: #cf409d;
      }
      &.company {
        color: #4f7335;
      }
      &.started {
        color: #f49d43;
      }
      &.legal {
        color: #c0ae1e;
      }
    }
    .footer-item {
      .item-link {
        color: #656b88 !important;
        margin-bottom: 15px;
        display: block;
      }
    }
  }
}

@media (min-width: 383px) {
  .segment.navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
  }
  .home-header {
    .main-heading {
      font-size: 2.2em !important;
      margin-top: 2.3em !important;
    }

    .sub-heading {
      font-size: 1.2em !important;
      margin-top: 0.2em !important;
    }
    .free-signup-button {
      font-size: 0.8em !important;
    }
  }
}

@media (min-width: 551px) {
  .segment.navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
  }
  .home-header {
    .main-heading {
      font-size: 2.7em !important;
    }

    .sub-heading {
      font-size: 1.4em !important;
      padding: 0 7%;
    }
    .free-signup-button {
      font-size: 0.8em !important;
    }
  }

}

@media (min-width: 620px) {
  .segment.navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
  }
  .home-header {
    .main-heading {
      font-size: 3.0em !important;
    }

    .sub-heading {
      font-size: 1.5em !important;
    }
    .free-signup-button {
      font-size: 0.9em !important;
    }
  }

}

@media (min-width: 769px) {
  .segment.navbar {
    background: $primary-color-transparent !important;
    z-index: +1;
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
    .custom-box {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 100%;
      background: #070e28 !important;
      box-shadow: 0 4px 10px 0px #010107;
      display: flex;
      padding: 10px 0;
    }
    .menu {
      border: none !important;
      width: 100% !important;
      &.right-menu-width {
        width: auto !important;
      }
      .custom-row {
        justify-content: space-between;
        .custom-dropdown {
          color: #fff;
          padding: 0;
          width: 15.8% !important;
          .custom-dropdown-item {
            padding: 10px 10px 20px 10px;
            background: linear-gradient(to bottom, #09133a 0%, #070e28 100%) !important;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            .avatar-item {
              border-radius: 50%;
              border: 2px solid #202c5a;
              display: inline-block;
              width: 40px;
              height: 40px;
              margin-bottom: 40px;
              .icon-right-arrow {
                position: absolute;
                right: 5px;
                font-size: 10px;
                font-weight: 100;
                display: none;
              }
              img {
                width: 23px;
                height: 23px;
                position: absolute;
                margin-left: 6px;
                margin-top: 8px;
              }
            }
            .text-item {
              display: flex;
              align-items: flex-end;
              flex: 1;
              p {
                font-size: 16px;
                font-family: "Gotham Book";
                white-space: pre-wrap;
                color: #fff;
              }
            }
            .description {
              display: none;
              padding-top: 5px;
              p {
                font-size: 13px;
                font-family: "Gotham Book";
                white-space: pre-wrap;
                color: #fff;
                font-weight: 100;
              }
            }
            &.mobile {
              &:hover {
                background-image: url('../images/theme/mobile-back.png') !important;
                box-shadow: 8px 10px 25px 10px #101535;
              }
            }
            &:hover {
              cursor: pointer;
              .avatar-item {
                margin-bottom: 5px;
                .icon-right-arrow {
                  display: block;
                }
                &.desktop {
                  border-color: #7436e9;
                  color: #7436e9;
                }
                &.mobile {
                  border-color: #f34cb5;
                  color: #f34cb5;
                }
                &.ui {
                  border-color: #f3a864;
                  color: #f3a864;
                }
                &.branding {
                  border-color: #e4cb0d;
                  color: #e4cb0d;
                }
                &.illustration {
                  border-color: #90ce41;
                  color: #90ce41;
                }
                &.marketing {
                  border-color: #285596;
                  color: #285596;
                }
              }
              .description {
                display: block;
              }             
            }
          }
        }
      }
      .text {
        margin: 0 !important;
        border: none !important;
        line-height: normal !important;
        font-family: "Gotham Bold";
        font-weight: bold !important;
        font-size: 16px;
      }
    }
    .logo img {
      width: 40px !important;
      margin-bottom: 8px !important;
    }
    .or {
      top: 12% !important;
    }
  }
  .home-header {
    .pretitle {
      font-family: $Montserrat;
      font-size: 1.1em !important;
      letter-spacing: 0.8em;
      margin-top: 9em !important;
      font-weight: 300;
    }
    .main-heading {
      font-size: 3.8em !important;
      margin-top: 0 !important;
    }

    .sub-heading {
      font-size: 1.5em !important;
    }
    .free-signup-button {
      margin-bottom: 5em;
    }
  }

}

@media (min-width: 992px) {
  .segment.navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
    .or {
      top: 11% !important;
    }
  }
  .home-header {
    .pretitle {
      font-size: 1.2em !important;
      margin-top: 11em !important;
    }
    .main-heading {
      font-size: 4em !important;
      margin-top: 0.2em !important;
    }

    .sub-heading {
      font-size: 1.7em !important;
      padding: 0;
    }
    .free-signup-button {
      margin-bottom: 7em;
    }
  }

}

@media (min-width: 1224px) {
  .segment.navbar {
    background: linear-gradient(to bottom, #0a1332 0%, #070e29 100%) !important;
  }
  .home-header {
    .pretitle {
      font-size: 1.3em !important;
      margin-top: 11em !important;
    }
    .main-heading {
      font-size: 4.3em !important;
      margin-top: 0.2em !important;
    }

    .sub-heading {
      font-size: 1.8em !important;
    }
    .free-signup-button {
      margin-bottom: 8em;
    }
  }

}

